In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [19]:
input = [4,8,15,16,23,42]
series = pd.Series(input)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
### variable print it.

In [28]:
list = ['a','b','c','d','e','f','g','h','i','j']
type(list)
pds = pd.Series(list,index=[1,2,3,4,5,6,7,8,9,10])
print(pds)

1     a
2     b
3     c
4     d
5     e
6     f
7     g
8     h
9     i
10    j
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:
Name      Age   Gender

Alice     25    Female
Bob       30    male
Claire    27    Female

In [49]:
data = {
    "Name" : ['Alice','Bob','Claire'],
    "Age" : [25,30,27],
    "Gender" : ['Female','male','Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
#### Difference

Series is a one-dimensional array holding data of any type while DataFrame is a set or collection of Series.

#### Example

In [56]:
age = [20,25,29]
age_series = pd.Series(age)  #series (1d array)
print(age_series)

name = ['a','b','c']
name_series = pd.Series(name)
print(name_series)

data = {
    "Name" : name_series,
    "Age" : age_series
}
df = pd.DataFrame(data)
print(df)

0    20
1    25
2    29
dtype: int64
0    a
1    b
2    c
dtype: object
  Name  Age
0    a   20
1    b   25
2    c   29

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
### you give an example of when you might use one of these functions?

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [57]:
age = [25,30,27]
age_series = pd.Series(age)  #series (1d array)
print(age_series)

name = ['Alice','Bob','Claire']
name_series = pd.Series(name)
print(name_series)

gender = ['Female','male','Female']
gender_series = pd.Series(gender)
print(gender_series)

data = {
    "Name" : name_series,
    "Age" : age_series,
    "Gender" : gender_series
}
df = pd.DataFrame(data)
print(df)

0    25
1    30
2    27
dtype: int64
0     Alice
1       Bob
2    Claire
dtype: object
0    Female
1      male
2    Female
dtype: object
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female